extends ../layout

block content
  div#qrcode_list
    each item in myQrcodes
      a(href=`/qrcode/${item.qrcode_uuid}`)
        div.item-card
          <qrcode-image imgwidth="200" imgheight="200" qrcodedata=#{item.base64img}></qrcode-image>
          p= item.title