extends ../layout

block content
  form(action="/qrcode" method="POST")#new_container
    div
      div
        input(type="title" name="title" id="title" placeholder="タイトル")
      div
        input(type="url" name="url" id="url" placeholder="URL")
    div
      input(type="submit" value="作成")