doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#header
      ul
        if user
          li 
            a(href="/logout") ログアウト
        else
          li 
            a(href="/login") ログイン
          li
            a(href="/signup") サインアップ

    block content
    div#footer
