doctype html
html
  head
    title= title
  body

    div#header
      ul.header-left
        div
          if user
            li 
              a(href="/") 
                img(src="/images/logo.svg")
            li 
              a(href="/my/qrcode") 自分の投稿
            li 
              a(href="/mylist") マイリスト
            li
              a(href="/qrcode/new") 新規投稿 
          else
            li
              a(href="/") 
                img(src="/images/logo.svg")

      ul.header-right
        div
          if user
            li
              p #{user.userId}
            li 
              a(href="/logout") ログアウト
          else
            li 
              a(href="/login") ログイン
            li
              a(href="/signup") サインアップ

    div.container
      block content
    div#footer
      div
        p.qr_caution QRコードは(株)デンソーウェーブの登録商標です
      div
        p.copyright © QRCODE SCRAP
    script(type="text/javascript", src="/javascripts/main.js")
