extends layout

block content
  div.container

    form(action="/login" method="POST")#login_container
      div
        div
          input(type="email" name="email" placeholder="メールアドレス")
        div
          input(type="password" name="password" placeholder="パスワード")
      div
        input(type="submit" value="ログイン")