extends layout

block content
  form(action="/signup" method="POST")#signup_container
    div
      div
        input(type="text" name="username" value="" placeholder="名前")
      div
        input(type="email" name="email" placeholder="メールアドレス")
      div
        input(type="password" name="password" placeholder="パスワード")
      div
        input(type="password" name="password_confirmation" placeholder="確認パスワード")
    div
      input(type="submit" value="サインアップ")